<!-- footer -->
<div>
<div class="footer" style="margin-top: 150px;">
    <div class="container p-3"></div>
    <div class="container p-3"
        style="background-color: #CDEAE1; border-radius: 20px; margin-top: -200px">
        <div class="row">
            <div class="col-9">
                <p class="fw-bolder h1 pb-5">Đăng ký<br>Bản tin</p> <br>
                <p class="h5 fw-bold">Du lịch</p>
                <p class="" style="color: rgba(17, 34, 17, 1);">Hãy tìm cảm hứng! Nhận ưu đãi du lịch, mẹo vặt và những câu chuyện hậu trường.</p>
                <div class="row">
                    <div class="col-9">
                        <input type="emailadd" style="height: 100%;" class="form-control border-0 bg-light"
                            id="exampleFormControlInput10" placeholder="Địa chỉ email của bạn">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn text-light me-2 bg-dark"
                            style="height: 100%;border-radius: 5px;">
                            Đăng kí
                        </button>
                    </div>
                </div>
            </div>
            <div class="col text-end">
                <img class="img-fluid" src="/img/footer/mailbox.png" alt="Mailbox">
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between pt-5 pb-5 footer-content flex-wrap pe-5" style="width: 96%;">
        <div class="footer-info h-100 ftitles">
            <img class="pb-3" src="/img/footer/logo-footer.png" alt="Logo" style> <br>
            <a class="text-dark" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a class="text-dark" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Điểm đến</div>
            <p>Hồ Chí Minh</p>
            <p>Hà Nội</p>
            <p>Thừa Thiên Huế</p>
            <p>Đà Nẵng</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Hoạt động</div>
            <p>Northen Lights</p>
            <p>Du ngoạn và chèo thuyền</p>
            <p>Nhiều hoạt động</p>
            <p>Chèo thuyền kayak</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Blogs Du Lịch</div>
            <p>Hướng dẫn du lịch Bali</p>
            <p>Hướng dẫn du lịch Sri Lanka</p>
            <p>Hướng dẫn du lịch Peru</p>
            <p>Hướng dẫn du lịch Quảng Nam</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Star Line</div>
            <p>Câu chuyện của chùn tôi</p>
            <p>Làm việc với chúng tôi</p>
        </div>
        <div class="footer-info h-100">
            <div class="ftitle pb-2">Liên hệ</div>
            <p>Email: StarLine@gmail.com</p>
            <p>Work: WEB </p>
        </div>
    </div>
</div>
</div>
