<!--start header -->
<style>
  .topbar{
  background: linear-gradient(
    90deg,
    #cdefff 0%,
    #eaf6ff 50%,
    #ffffff 100%
  );
  }
</style>
<!-- Admin Header -->
<header>
    <div class="topbar fixed-top d-flex justify-content-center align-items-center">
        <h4 class="mb-0 admin-title">
            <i class="fa-solid fa-plane-departure me-2"></i>
            Manage Star Line
        </h4>
    </div>
</header>
